.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}


@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 690px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 266px;
  }
}
