.lead__subtitle {
  max-width: 640px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 400px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}
